<div class="row">
	<div class="col-sm-4 col-md-4 col-md-offset-4">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Publish</th>
				<th>Edit</th>
			</tr>
			<% @events.each do |e| %>
				<tr>
					<td><%= e.name %></td>
					<% if Event.is_published(e.id)%>
						<td><%= link_to "unpublish", publish_path(:id => e.id, :publish => false) %></td>
					<%else%>
						<td><%= link_to "publish", publish_path(:id => e.id, :publish => true) %></td>
					<% end %>				
					<td><%= link_to "edit", edit_event_path(e.id), :method => :get %></td>
				</tr>
			<% end %>				
		</table>
	</div>
</div>

