<br>
<br>
<br>
<div class="col-sm-10 col-md-10 col-md-offset-1">
<h1>Your purchase has been complete</h1>

You can pick your tickets in the venue of the event remember to bring your Identification.

</div>